// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius-small-element;
    @include set-font($font-family-base, map-get($font-size, l));
    background-color: $color-primary;
    color: $color-font-button;
    &:hover {
        background-color: $color-primary-hover;
        color: $color-font-regular-light;
    }
    cursor: pointer;
    outline: none;
    transition: $delay*3;
}

.menu-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: $border-radius-small-element;
    @include set-font($font-family-base, map-get($font-size, l));
    background-color: transparent;
    color: $color-font-regular;
    cursor: pointer;
    outline: none;
    transition: $delay * 3;

    &:hover {
        background-color: $color-primary-hover;
        color: $color-font-regular-light;
    }

}

.delete-btn {
    color: $color-delete;

    &:hover {
        background-color: $color-button-delete-hover;
    }

}
