.tooltip {
  position: absolute;
  bottom: -92px;
  right: 0;
  z-index: 200;
  // display: none;
  background-color: hsl(0deg, 0%, 20%);
  color: white;
  padding: 5px 10px;
  font-size: 14px;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid rgba(0, 0, 0, 0);
    border-right: 13px solid rgba(0, 0, 0, 0);
    border-top: 19px solid rgba(0, 0, 0, 0);
    right: 0px;
    top: -25px;
    border-bottom: 12px solid hsl(0deg, 0%, 20%);
  }
}
