<div class="status-menu element--invisible">
  <ul class="popup-menu">
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn" id="popup-edit-1">
        <span>Edit</span>
        <span>🖋</span>
      </button>
    </li>
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn" id="popup-assign-1">
        <span>Hide</span>
        <span>👁</span>
      </button>
    </li>
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn delete-btn" id="popup-delete-1">
        <span>Delete</span>
        <span>✖</span>
      </button>
    </li>
  </ul>
</div>
<div class="status__header">
  <input id="name-input" class="status__name input-text" type="" value="TO DO">
  <button class="status__menu menu-btn" id="status-menu-btn">⋯</button>
</div>
<div id='task-list' class="status__task-list">
</div>
<div class="status__footer">
  <button class="status__add-task menu-btn">+ Add task</button>
</div>
