.input-mark {
  &__inputs-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 5px;
  }

  &__color-input,
  &__submit_btn,
  &__delete_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 26px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    &:hover {
      background-color: rgba(255, 166, 0, .3);
    }
  }

  &__submit_btn {
    color: green;
    font-size: 25px;
    line-height: 0.1;
  }

  &__delete_btn {
    width: 30px;
    font-size: 22px;
    line-height: 0.1;
  }
}
