// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin set-font($family, $size, $line-height: 100%, $weight: 400, $style: normal) {
  font-family: $family;
  font-size: $size;
  line-height: $line-height;
  font-style: $style;
  font-weight: $weight;
}

@mixin icon-square-background($url, $side) {
  display: inline-block;
  width: $side;
  height: $side;
  background-image: url($url);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin square-view($value) {
  height: $value;
  width: $value;
}
