<form class="login-form">
  <div class="input-wrapper">
    <input id="input-user" name="email" class="input input-user" />
    <span class="error-message"></span>
    <label for="input-user" class="input-label">Enter Email</label>
  </div>
  <div class="input-wrapper">
    
    <i class="password-eye"></i>
    <input id="input-password" name="password" type="password" class="input input-password" />
    <span class="error-message"></span>
    <label for="input-password" class="input-label">Enter Password</label>
  </div>
  <button type="submit">Login</button>
</form> 
