.selected-task {
  transform: rotate(2deg);
  box-shadow: 2px 2px 10px 0 var(--color-box-shadow);
  cursor: grab;
}

.new-task,
.old-task {
  height: 59px;
  width: 290px;
  border-radius: $border-radius-big-element;
  border: 1px solid var(--color-border-element);
  background-color: var(--color-background-modal);
}
