<ul class="popup-menu">
  <li class="popup-menu__item">
    <button class="popup-menu__btn menu-btn" id="edit-task">
      <span>Edit</span>
      <span>🖋</span>
    </button>
  </li>
  <!-- <li class="popup-menu__item">
    <button class="popup-menu__btn menu-btn" id="assign-task">
      <span>Assign</span>
      <span>👤</span>
    </button>
  </li> -->
  <li class="popup-menu__item">
    <button class="popup-menu__btn menu-btn delete-btn"id="remove-task">
      <span>Delete</span>
      <span>✖</span>
    </button>
  </li>
</ul>
