
<div class="task__header">
  <img class="task__assignee" src="../../assets/img/task/default_user.svg" alt="">
  <button class="task__menu menu-btn" id="">⋯</button>
</div>
<div class="task__content">
  Make utility mehod for correct element existense and type checking
</div>
<div class="task-menu element--invisible">
  <ul class="popup-menu">
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn" id="popup-edit-1">
        <span>Edit</span>
        <span>🖋</span>
      </button>
    </li>
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn" id="popup-assign-1">
        <span>Assign</span>
        <span>👤</span>
      </button>
    </li>
    <li class="popup-menu__item">
      <button class="popup-menu__btn menu-btn delete-btn"id="popup-delete-1">
        <span>Delete</span>
        <span>✖</span>
      </button>
    </li>
  </ul>
</div>

