<div class="board-menu__header">
  <h5 class="board-menu__title">BOARD MENU</h5>
  <button class="board-menu__close-btn menu-btn" id="board-menu-close-btn">✖</button>
</div>
<hr>
<ul class="board-menu-list" id="board-menu-list-btns">
  <li class="board-menu-list__item" id="board-menu-list__item-1">
    <button class="board-menu__btn menu-btn ">Board description 🖋</button>
  </li>
  <li class="board-menu-list__item" id="board-menu-list__item-2">
    <button class="board-menu__btn menu-btn ">Background 💻</button>
  </li>
  <li class="board-menu-list__item" id="board-menu-list__item-2">
    <button class="board-menu__btn menu-btn ">Copy Board Link 🗒</button>
  </li>
</ul>
<hr>
<div class="board-menu__header">
  <h5 class="board-menu__title">BOARD LOG</h5>
</div>
<hr>
<ul class="board-menu__list board-menu-list" id="board-menu-list-log">
  <li class="board-menu-list__item" id="board-log-list__item-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, molestias!
  </li>
  <li class="board-menu-list__item" id="board-log-list__item-2">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, ipsum!
  </li>
  <li class="board-menu-list__item" id="board-log-list__item-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium, perspiciatis?
  </li>
  <li class="board-menu-list__item" id="board-log-list__item-2">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia, enim!
  </li>
</ul>
