.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $header-height;
  width: 100vw;
  padding: 0.25rem 1rem;
  border: 1px solid $color-border-element;
  background-color: $color-background-header-footer;
}

.link {
  @include set-font($font-family-base, map-get($font-size, m) * 1.5);
  color: $color-font-regular-light;
  transition: $delay * 3;

  @include _576 {
    @include set-font($font-family-base, map-get($font-size, m) * 1.2);
  };

  &:hover {
      color: $color-border-input-focused;
  }

}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: map-get($font-size, s);
    width: fit-content;
    height: $header-height;
  }

}

.rsschool {
  width: 70px;
  height: 40px;
  background-color:rgb(255, 255, 255);
  transition: $delay * 3;
  -webkit-mask:  url(../assets/img/footer/rs-school-icon.svg) no-repeat 50% 50%;
  mask: url(../assets/img/footer/rs-school-icon.svg) no-repeat 50% 50%;

  @include _576 {
    width: 50px;
    height: 30px;
  };

  &:hover {
      background-color: $color-border-input-focused;
  }

}

.github:hover,
.rsschool:hover {
  color: $color-border-input-focused;
}

.github {
  width: 30px;
  height: 30px;
  background-color:rgb(255, 255, 255);
  -webkit-mask:  url(../assets/img/footer/github-icon.svg) no-repeat 50% 50%;
  mask: url(../assets/img/footer/github-icon.svg) no-repeat 50% 50%;

  @include _576 {
    width: 25px;
    height: 25px;
  };

}

.year {
  @include set-font($font-family-base, map-get($font-size, l));
  @include _576 {
    @include set-font($font-family-base, map-get($font-size, m) * 1.5);
  };
}
