<ui class="footer-links">
  <li class="footer-links__item">
    <span class="github"></span>
    <a class="link" href="https://github.com/petro1909">petro1909</a>
    <a class="link" href="https://github.com/novidin">novidin</a>
    <a class="link" href="https://github.com/Grif-Rift-BY">grif-rift-by</a>
  </li>
  <li class="footer-links__item">
    <a class="rsschool" href="https://rs.school/js/"></a>
    <a class="year link" href="https://ru.wikipedia.org/wiki/2022_%D0%B3%D0%BE%D0%B4">2023</a>
  </li>
</ui>

