<section class="popup-page" id="popup-page">
  <form class="signin-form">
    <button class="close-form-cross">✖</button>
    <div class="input-auth-wrapper">
      <!-- <input id="input-user" name="email" class="input-auth input-user input-auth--underscored" required/> -->
      <input id="input-login" name="name" class="input-auth input-user input-auth--underscored"/>
      <span class="error-message"></span>
      <label for="input-user" class="input-auth-label">Enter Name</label>
    </div>
    <div class="input-auth-wrapper">
      <!-- <input id="input-user" name="email" class="input-auth input-user input-auth--underscored" required/> -->
      <input id="input-user" name="email" class="input-auth input-user input-auth--underscored"/>
      <span class="error-message"></span>
      <label for="input-user" class="input-auth-label">Enter Email</label>
    </div>
    <div class="input-auth-wrapper">
      <i class="password-eye"></i>
      <!-- <input id="input-password" name="password" type="password" class="input-auth input-password input-auth--underscored" required/> -->
      <input id="input-password" name="password" type="password" class="input-auth input-password input-auth--underscored"/>
      <span class="error-message"></span>
      <label for="input-password" class="input-auth-label">Enter Password</label>
    </div>
    <button class="btn" type="submit" id="submit">SIGN IN</button>
  </form>
</section>
