// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;;
}

a {
  text-decoration: none;
}

body {
  min-width: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-page);
}

.body--fixed {
  overflow:hidden;
  height: 100vh;
}

menu,
ul {
  list-style: none;
  padding: 0;
}

main {
  flex-grow: 1;
}

img {
	max-width: 100%;
}

.element--invisible {
  visibility: hidden;
  transform: translate(-20px, 0);
  opacity: 0;
}

.display-none {
  display: none !important;
}
